{% extends 'baseadmin.html.twig' %}

{% block title %}Provider information - Admin site{% endblock %}

{% block body %}
<h1>PROVIDER INFORMATION</h1>
<hr></hr>
    
<a href="{{ path('app_provider_new') }}" style="background-color: #FFE400; color: black" class="btn btn-primary" >
		<span class="material-icons">add</span>ADD</a>
<br></br>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>{{ provider.id }}</td>
                <td>{{ provider.name }}</td>
                <td>{{ provider.address }}</td>
                <td>
                    <a href="{{ path('app_provider_show', {'id': provider.id}) }}"><span class="material-icons" style="color:#D9CE3F">visibility</span></a>
                    <a href="{{ path('app_provider_edit', {'id': provider.id}) }}" style="color:#E83A14"><span class="material-icons">mode_edit</span></a>
                    <a href="{{ path('app_provider_deleteone', {'id': provider.id}) }}" onclick="return confirm('Are you sure?')">
							<span class="material-icons" style="color:#890F0D">delete</span>
						</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
